<style>
*{
    background-image: url("https://image.shutterstock.com/image-photo/smooth-flat-vintage-paper-bag-260nw-541488106.jpg");
   background-size: cover;
}
.card {
  box-shadow: black;
  max-width: 500px;
  margin: auto;
  text-align: center;;
}
table{ 
border-collapse:separate; 
border-spacing: 0 35px;
background-color: #f5f5f5;
} 
 
th,td{ 
width: 150px; 
text-align: center; 
padding: 5px;
}

img{
    max-width: 40px;
    position: relative;
}
h1{
    text-align: left;
}
</style>
<h1>
    Choose your travel agent
</h1>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" style="width:100%">
        <div class="container">
            <table>
                <tbody>
                    <tr><% for(let column in data[0]){ %>
                   <td><%= data[0][column] %></td>
               <% } %>
           </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="column">
          <div class="card">
            <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" style="width:100%">
            <div class="container">
             <table>
                 <tbody>
                     <tr><% for(let column in data[1]){ %>
                    <td><%= data[1][column] %></td>
                <% } %>
            </tr>
                 </tbody>
             </table>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
            <div class="column">
              <div class="card">
                <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" style="width:100%">
                <div class="container">
                 <table>
                     <tbody>
                         <tr><% for(let column in data[2]){ %>
                        <td><%= data[2][column] %></td>
                    <% } %>
                </tr>
                     </tbody>
                 </table>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="column">
                  <div class="card">
                    <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" style="width:100%">
                    <div class="container">
                     <table>
                         <tbody>
                             <tr><% for(let column in data[3]){ %>
                            <td><%= data[3][column] %></td>
                        <% } %>
                    </tr>
                         </tbody>
                     </table>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="column">
                      <div class="card">
                        <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" style="width:100%">
                        <div class="container">
                         <table>
                             <tbody>
                                 <tr><% for(let column in data[4]){ %>
                                <td><%= data[4][column] %></td>
                            <% } %>
                        </tr>
                             </tbody>
                         </table>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="column">
                          <div class="card">
                            <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" style="width:100%">
                            <div class="container">
                             <table>
                                 <tbody>
                                     <tr><% for(let column in data[5]){ %>
                                    <td><%= data[5][column] %></td>
                                <% } %>
                            </tr>
                                 </tbody>
                             </table>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="column">
                              <div class="card">
                                <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" style="width:100%">
                                <div class="container">
                                 <table>
                                     <tbody>
                                         <tr><% for(let column in data[6]){ %>
                                        <td><%= data[6][column] %></td>
                                    <% } %>
                                </tr>
                                     </tbody>
                                 </table>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                  <div class="card">
                                    <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" style="width:100%">
                                    <div class="container">
                                     <table>
                                         <tbody>
                                             <tr><% for(let column in data[7]){ %>
                                            <td><%= data[7][column] %></td>
                                        <% } %>
                                    </tr>
                                         </tbody>
                                     </table>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="column">
                                      <div class="card">
                                        <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" style="width:100%">
                                        <div class="container">
                                         <table>
                                             <tbody>
                                                 <tr><% for(let column in data[8]){ %>
                                                <td><%= data[8][column] %></td>
                                            <% } %>
                                        </tr>
                                             </tbody>
                                         </table>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="column">
                                          <div class="card">
                                            <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" style="width:100%">
                                            <div class="container">
                                             <table>
                                                 <tbody>
                                                     <tr><% for(let column in data[9]){ %>
                                                    <td><%= data[9][column] %></td>
                                                <% } %>
                                            </tr>
                                                 </tbody>
                                             </table>
                                            </div>
                                          </div>
                                        </div>